footer{
    background-color: var(--color-neutra-2);
    width: 100%;
}
.footer-itens{
    display: flex;
    justify-content: space-between;
    padding: 30px 8% 24px 8%;
    align-items: center;
}
.copyright{
    color: var(--color-primary-1);
    font-weight: 500;
    font-size: 18px;
}