@import url('cardapio.css');
@import url('depoimentos.css');
@import url('footer.css');
:root{
    --color-primary-1: #baff39;
    --color-primary-2: #43f823;

    --color-neutra-1:#ffffff;
    --color-neutra-2:#66666679;
    --color-neutra-3:#7a7979;

}
*{
    list-style: none;
}
body{
    background-color:var(--color-neutra-3);
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
    padding: 0;   
}
.home{
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
}
.cta{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
    margin-left: 5%;
}

.cta .title{
    font-size: 4rem;
    color: var(--color-neutra-1);
    font-family: sans-serif;
}
.cta .title span{
    color: var(--color-primary-1);
    font-family:'Courier New';
    font-size: 6rem;
    font-style: bold;
}
.cta-buttons{
    display: flex;
    gap: 24px;
}
.cta-buttons a{
    color: var(--color-neutra-1);
}
.banner{
    display: flex;
    margin: auto;
}
.banner img{
    display:initial;
    margin: auto;
    position: absolute;
    top: 60px;
    right: 40px;
}
.section-title{
    color: var(--color-primary-1);
    font-size: 2rem;
    text-align: center;
}
.section-subtitle{
    text-align: center;
    font-size: 2.1875rem;
}

@media screen and (max-width: 980px) {
    .banner{
        display: none;
    }
    .cta{
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .home{
        min-height: 100%;
    }
    .title{
        font-size: 1.5rem;
    }
    .descricao{
        font-size: 2rem;
    }
}