.ITENS{
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    min-height: 100vh;

}
.area-cards{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 25px;
    align-items: center;

}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 180px;
    height: 400px;
    gap: 18px;
    padding: 20px;
    background-color: var(--color-neutra-2);
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}
.card-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 180px;
    height: 150px;
    gap: 18px;
    padding: 20px;
    background-color: var(--color-neutra-2);
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    
}
.card:hover{

    box-shadow: 0px 0px 10px 2px var(--color-primary-2);
    transition: background-color .3s ease;
    transform: scale(1.1);
}
.card-1:hover{

    box-shadow: 0px 0px 10px 2px var(--color-primary-2);
    transition: background-color .3s ease;
    transform: scale(1.1);
}
.card-heart{
    position: absolute;
    background-color: var(--color-primary-1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    color: var(--color-neutra-1);
    font-size: 1.563rem;
    right: -10px;
    top: -10px;
    border-radius: 0px 37.5px 0px 42.5px;
}
.card-heart i:hover{
    cursor: pointer;
    color: red;
}
.card-imagem{
    width: 300px;
    margin-top: 5%;
}
.card-title{
    font-size: 1.5rem;
    color: var(--color-primary-1);
    padding: 5px;
    text-align: center;
}
.card-descricao{
    color: #434343;
    text-align: center;
    font-size: 1.2rem;
}
.card-rate i{
    color: var(--color-primary-1);
}
.card-price{
    display: flex;
    align-items: center;
    gap: 20px;
}
.Descricao{
    color: var(--color-primary-1);
    font-family:'Courier New';
    font-size: 1.2rem;
    font-style: bold;

}
