@import url(home.css);

body{
    height: 100%;
    font-family: 'Courier New', sans-serif;
    margin: 0;
    padding: 0;
    background-color:var(--color-neutra-3);


}
.cont-log{
            height: 100vh;
            display: flex;
             justify-content: center;
            align-items: center;
    
}
.log{
    background-color: var(--color-neutra-2);   
    border-radius: 10px;
    padding: 25px 40px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;

}

.log h2{
    color: var(--color-primary-1);
    font-family:'Courier New';
    font-size: 3rem;
    margin-bottom: 25px;
    font-style: bold;
    
}
.log label{
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    color: var(--color-primary-1);
    margin-bottom: 2px;
    margin-top: 15px;
    display: block;
}
button{
    margin-top: 15px;
    padding: 10px 25px;
    background-color: var(--color-primary-1);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 1rem;
    font-weight: bold;
    font-family:sans-serif;
}
button:hover{
    background-color: var(--color-primary-2);
    box-shadow: 0px 0px 10px 2px var(--color-primary-2);
    transition: background-color .3s ease;
    transform: scale(1.1);
}
a{
    align-items: center;
    justify-content: center;
    display: block;
    margin-top: 10px;
    font-size: 0.9rem;
    color: var(--color-primary-1);
    text-decoration: none;
    font-weight: bold;

}
a:hover{
    text-decoration: underline;
}
.btn-return{
    position: fixed; 
    top: 50px; 
    right: 50px;
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-primary-1);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
    font-size: 16px;
    font-weight: bold;
}
.btn-return:hover{
    background-color: var(--color-primary-2);
    box-shadow: 0px 0px 10px 2px var(--color-primary-2);
    transition: background-color .3s ease;
    transform: scale(1.1);
}
