header{
    display:flex;
    height: 120px;
    background-color: var(--color-neutra-2);
    width: 100%;
}

#navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding:0px 30px;
    font-family: sans-serif;
    font-weight: bold;
    
}
i{
    color: var(--color-primary-1);   
    justify-content: flex-start;
    font-size: 45px;
    font-family: sans-serif;
    cursor: pointer;
}
#nav_list{
    display: flex;
    width: 70%;
    justify-content: space-between;
    list-style: none;
}
.nav-item{
    /* background-color: red; */
    padding: 10px;
}
.nav-link{
    font-size: 20px;
    color: var(--color-primary-1);
    text-decoration: none;
}
.nav-link:hover{
    color: var(--color-primary-2);
}

.mobile-menu, .mobile-btn{
    display: none;
}

@media screen and (max-width: 1170px) {
    #nav_list, #navbar{
        display: none;
    }
    .mobile-btn{
        display: block;
        border: none;
        background-color: var(--color-neutra-2);
        font-size: 0.5rem;
        cursor: pointer;
        
       
    }
    .mobile-menu.active{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .mobile-nav-list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 55px -35px;
        background-color: var(--color-neutra-3);
        border-radius: 20px;
    }
    .mobile-nav-list, .nav-item{
        list-style: none;
        text-align: center;
    }
    .nav-item a{
        color: var(--color-primary-1);
        cursor: pointer;
    }
    .nav-item:hover{
        background-color: var(--color-neutra-2);
        border-radius: 30px;
        box-shadow: 0px 0px 10px 2px var(--color-primary-2);
        transition: background-color .3s ease;
        transform: scale(1.1);

    
    }
    .nav-item a:hover{
        color: var(--color-primary-2);

    }
}